<!-- s3cr3t_fl4g_K1udg3.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Flag</title>
</head>
<body>
    <h1>Secret Flag</h1>
    <% if (!secret || secret !== '0SMnNKmEmLb6A8XDRqTNd0MWmC6u5937dAdL9rqXMTnP7MJMkmEBefAJgqfavZaZqt9mbgpSWYJwhZUkfgf3UAw7RVpGxRHHWFQ6U128cJ2KnaREbjqGLDMM2E4A0nKE') { %>
        <p>You do not have permission to view the flag.</p>
    <% } else { %>
        <p>Here's the flag: cybercon{X55_N_C0R5_ch41n_77418}</p>
    <% } %>
</body>
</html>
