<!-- s3cr3t_fl4g_K1udg3.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Flag</title>
</head>
<body>
    <h1>Secret Flag</h1>
    <% if (!secret || secret !== 'N0t_tH3_Tru3_v4lue') { %>
        <p>You do not have permission to view the flag.</p>
    <% } else { %>
        <p>Here's the flag: cybercon{f4k3_flag}</p>
    <% } %>
</body>
</html>
